[2014-06-28 15:22] bvssvni opened #5 "Add example with playing music"
Could use rust-sdl2_mixer.

[2014-07-02 20:18] bvssvni opened #7 "Add instructions of how to build examples to README"
## How to build & run examples
1. Install [Cargo](https://github.com/rust-lang/cargo)
2. In the Terminal window, navigate to the project directory of the example you want to build.
3. Type `cargo build`
4. Type `make run`

[2014-07-02 20:19] #7 closed, assigned to bvssvni

[2014-07-03 06:37] coeuvre opened #8 "Is there any way to share dependences between examples with Cargo?"

[2014-07-03 09:58] #8 closed, assigned to nobody

[2014-07-20 20:10] bvssvni opened #11 "Add capture cursor to `user_input` example"
Could be activated when pressing `C` or something.

[2014-07-20 20:38] #11 closed, assigned to bvssvni

[2014-07-29 19:27] bvssvni opened #13 "Remove unused 'readme' flag from Cargo.toml"

[2014-07-29 19:27] #13 closed, assigned to bvssvni

[2014-07-30 18:16] #5 closed, assigned to bvssvni

[2014-07-30 18:19] bvssvni opened #16 "Problems with music example"
I installed SDL2-mixer with `brew install sdl2_mixer`.

The 'music' example only opens up the 'piano.wav' file and when it plays, it sounds like the piano is drowning :)

[2014-08-03 18:54] bvssvni opened #18 "Investigate why 'user_input' example is not working"
This happens on my machine, but I don't have time to check it closer at the moment.

Probably something to do with the GLFW back-end.

[2014-08-15 13:36] bvssvni opened #19 "Create an example using Rust-Image with textures"
How to manipulate a RGBA image and update a texture in real time.

This might require updates to [opengl_graphics](https://github.com/pistondevelopers/opengl_graphics).

[2014-08-15 17:37] bvssvni opened #20 "Create an example drawing a triangle with gfx-rs"
This should show how to combine Piston and gfx-rs.

[2014-08-15 17:40] #20 closed, assigned to bvssvni

[2014-08-15 18:18] bvssvni opened #22 "Add gfx_cube example"
Should be based on https://raw.githubusercontent.com/gfx-rs/gfx-rs/master/src/examples/cube/main.rs

[2014-08-16 05:51] #22 closed, assigned to bvssvni

[2014-08-16 05:53] #18 closed, assigned to bvssvni

[2014-08-16 06:58] #16 closed, assigned to nobody

[2014-08-17 18:25] bvssvni opened #27 "Add camera navigation to gfx_cube"
Can use the new camera features in Piston.

[2014-08-18 14:41] #27 closed, assigned to bvssvni

[2014-08-18 14:58] bvssvni opened #31 "Moving camera with mouse does not work in gfx_cube"
This might be a bug introduced in FPS controller when porting code from Hematite to Piston.

[2014-08-18 19:14] #31 closed, assigned to bvssvni

[2014-08-30 09:18] bvssvni opened #46 "Remove gfx_cube and gfx_triangle"
These are almost identical to the examples in the gfx-rs repo. The effort of keeping those up to date with gfx-rs (which is currently very unstable) can be put into gfx-rs instead.

[2014-08-30 09:35] #46 closed, assigned to bvssvni

[2014-08-30 11:15] #19 closed, assigned to bvssvni

[2014-08-30 19:32] bvssvni opened #51 "Add gfx_cube back in"
One thing I didn't thought about, was that gfx-rs needs to be initialized slighty different under Piston by calling `let (mut device, frame) = window.gfx();`.

[2014-09-02 11:38] bvssvni opened #52 "Remove Makefile and build.sh from examples"
Should use Cargo instead.

[2014-09-02 11:55] #51 closed, assigned to bvssvni

[2014-09-02 12:01] #52 closed, assigned to bvssvni

[2014-09-02 13:05] bvssvni opened #56 "Remove hgl_triangle"
hgl is deprecated and will be replaced by gfx-rs.

[2014-09-04 12:29] #56 closed, assigned to nobody

[2014-09-16 23:42] maxsnew opened #71 "gfx_cube and paint examples failing"
The version of gfx they're using doesn't work with the latest rustc nightly. Investigating now.

[2014-09-16 23:49] maxsnew opened #72 "Add lockfiles ?"
According to http://crates.io/faq.html#why-do-binaries-have-cargo.lock-in-version-control,-but-not-libraries? the convention is to checkin lockfiles for executables.

If we check in lockfiles for each of these examples then the only thing we have to worry about breaking builds is breaking changes from the nightlies. On the other hand fixing versions for Piston dependencies will likely lead to exam

[2014-09-19 06:44] bvssvni opened #75 "Why Piston-Examples don't use lockfiles"
See https://github.com/PistonDevelopers/piston-examples/issues/72

Cargo.lock is a file that makes `cargo build` use the same dependencies, which is useful when you want to run programs with older versions of libraries.

piston-examples is specifically meant to display examples of how to use the latest version of piston.

For this reason, we put Cargo.lock in `.gitignore` per example to prevent tr

[2014-09-19 06:50] #72 closed, assigned to nobody

[2014-09-19 23:33] #71 closed, assigned to maxsnew

[2014-10-03 00:09] bvssvni opened #77 "Add deform example"
Should demonstrate how to use DeformGrid and how to draw a deformed image.

Can use the logo of Rust.

[2014-10-03 00:11] #77 closed, assigned to bvssvni

[2014-10-11 11:00] #75 closed, assigned to nobody

[2014-10-20 10:26] bvssvni opened #84 "Remove piston dependency from examples"
It is recommended to use the libraries directly.

[2014-10-20 19:31] #84 closed, assigned to bvssvni

[2014-11-10 14:56] drewm1980 opened #99 "Windowing issue?"
I am trying to run the image example on ubuntu 14.04.1.  I have intel integrated graphics, and am running the i3 window manager.  I downloaded cargo and rust from nightly repos this morning, and after installing some dependencies everything seems to build fine.  When I run "cargo run", the screen flickers and I get an error:

[code]

Any ideas?  Thanks!

[2014-11-11 23:04] leonkunert opened #100 "Update dependencies for deform"
Since the drag controller has been moved into his own repo we need to update the dependencies in Cargo.toml

[2014-11-12 09:52] #100 closed, assigned to nobody

[2014-11-19 19:00] insanebits opened #104 "examples do not compile"
Hey guys, I've been looking to start learning rust by creating small project for fun and found this awesome GUI library, but unfortunately examples do not compile..

first error which I get is:

all_widgets.rs:48:5: 48:11 error: unresolved import `event::Render`. There is no `Render` in `event`

I did some investigation and I think Render was renamed to RenderEvent(given that I have really poor ru

[2014-11-20 12:55] bvssvni opened #105 "Check that SDL2 does not send repeated key up events"
See https://github.com/PistonDevelopers/sdl2_window/pull/99

It might be a possibility that SDL2 sends key up with repeated events and that this gets filtered out by sdl2_window.

Use the user_input example to test:
1. Press a key for several seconds
2. Release the key
3. Check that key up is triggered as normal

[2014-11-29 20:02] ttohin opened #108 "Could not build examples"
https://gist.github.com/ttohin/c5fe3be6e35983b4fe4e

<pre>➜  paint git:(master) uname -a
Darwin Antons-MacBook-Pro-2.local 13.4.0 Darwin Kernel Version 13.4.0: Sun Aug 17 19:50:11 PDT 2014; root:xnu-2422.115.4~1/RELEASE_X86_64 x86_64
➜  paint git:(master) rustc -v
rustc 0.12.0-nightly (9508faa22 2014-09-17 23:45:36 +0000)</pre>

[2014-11-29 21:57] #108 closed, assigned to nobody

[2014-11-30 10:23] bvssvni opened #109 "Add note to README that latest Rust nightly and Cargo is required"

[2014-11-30 10:24] #109 closed, assigned to bvssvni

[2014-12-01 12:27] #104 closed, assigned to nobody

[2014-12-01 12:27] #99 closed, assigned to nobody

[2014-12-01 12:36] #105 closed, assigned to nobody

[2014-12-02 01:07] viperscape opened #111 "examples builds are not passing"
~~looking at the travis build confirms this.~~ an example of the issue:

[code]

[2014-12-23 19:49] bvssvni opened #120 "Translate deform example to use the piston repo"
I think the the high level library is at a state where it needs more widespread testing. See https://github.com/PistonDevelopers/piston/issues/780

Start with translating one example, choosing "deform".

[2014-12-23 22:32] #120 closed, assigned to bvssvni

[2014-12-25 11:33] #111 closed, assigned to nobody

[2014-12-30 23:58] bvssvni opened #124 "Travis CI failing because rust-sdl2_mixer points to old version on crates.io"
Just posting this here so you don't need to read through the logs.

The `music` example fails to build because rust-sdl2_mixer points to an old version of rust-sdl2 on crates.io. To fix this problem I suggested earlier to sdl2 to the git (also to keep effects of breaking changes more managable).

Waiting for https://github.com/andelf/rust-sdl2_mixer/pull/18

[2015-01-17 17:51] bvssvni opened #136 "Error when compiling sprite example"
[code]

[2015-01-17 18:01] bvssvni commented on #136
By experimenting with `#![recursive_limit = "x"]` I figured it might be related to type interference.

[2015-02-04 20:10] Yamakaky opened #148 "Build fail : method `Err` is not a member of trait `FromStr`"

[2015-02-04 21:50] bvssvni commented on #148
Can you post the full error message?

[2015-02-04 21:51] bvssvni commented on #148
Possibly related to change in `FromStr` https://github.com/PistonDevelopers/gfx_voxel/issues/34

[2015-02-04 22:13] Yamakaky commented on #148
Yes, it's the same problem.

[2015-02-08 13:12] bvssvni opened #152 "Remove "music" example"
This has been broken for a while and can be added back when sdl2_mixer gets updated.

[2015-02-08 13:35] #152 closed

[2015-02-08 14:55] bvssvni opened #154 ""gfx_cube" example not showing anything"
`rustc 1.0.0-nightly (d3732a12e 2015-02-06 23:30:17 +0000)`

[2015-02-08 14:55] bvssvni commented on #136
This is fixed now.

[2015-02-08 14:55] #136 closed

[2015-02-08 14:55] #124 closed

[2015-02-09 23:18] Potpourri commented on #154
Fixed in gfx-rs/gfx-rs#547

[2015-02-09 23:18] #154 closed

[2015-02-10 00:06] Potpourri commented on #148
`FromStr` is not used in none example. It seems that it was a problem in some dependency.
Any way, now all examples compiles ok.

[2015-02-10 00:06] #148 closed

[2015-02-22 12:53] bvssvni opened #157 "Use "user_input" as test for window back-ends"
See https://github.com/PistonDevelopers/conrod/issues/326

- [x] Make it easier to change window back-end by using features

### Draw a miniature illustration of the frame buffer vs the inner window space

- [x] The inner window space should be on the left, the frame buffer on the right
- [x] The mouse coordinates should be displayed in window rectangle

As you move the mouse around in the inner w

[2015-02-23 20:55] Phlosioneer opened #161 "Build Error on OS X"
Trying to build the image example fails to build. Building from a fresh clone of the repository:

(This is the --verbose output, it only added the last line and the Running statement. The huuuuuuuge linker error is out of my depth)

[code]

Rust version:
<code>rustc 1.0.0-nightly (2b01a37ec 2015-02-21) (built 2015-02-21)
binary: rustc
commit-hash: 2b01a37ec38db9301239f0c0abcf3c695055b0ff
commit-da

[2015-02-23 20:56] Phlosioneer commented on #161
Neeeeever mind, I clearly need a lesson in reading the README.

[2015-02-23 20:56] #161 closed

[2015-02-24 07:19] bvssvni commented on #157
Maybe we should drop the desktop part, because this complicates the back-ends.

[2015-02-28 16:07] bvssvni opened #165 "Add scissor/stencil/blending example"
This could be used to test different draw states when the back-ends supports this.

[2015-03-02 12:03] ivanceras opened #169 "Could not compile `gl_generator`."
I'm trying to run the examples but I always get these errors.

Steps to reproduce:

[code]
rust and cargo version
[code]

Error log
[code]

[2015-03-02 21:59] Potpourri commented on #169
You need to `cargo update`

[2015-03-03 09:23] ivanceras commented on #169
I did a cargo update, but new error comes up.

[code]

[2015-03-03 12:04] Potpourri commented on #169
Now you need `rustup` with current nightly all works `rustc 1.0.0-nightly (157614249 2015-03-01) (built 2015-03-02)`

[2015-03-04 10:45] ivanceras commented on #169
It works now, thank you

[2015-03-04 10:45] #169 closed

[2015-03-15 13:01] bvssvni opened #180 "gfx_cube not compiling"
`rustc 1.0.0-nightly (3e4be02b8 2015-03-13) (built 2015-03-13)`

[code]

[2015-03-15 13:03] bvssvni commented on #180
Might be outdated. Will try again.

[2015-03-15 13:04] bvssvni commented on #180
It works now. Closing.

[2015-03-15 13:04] #180 closed

[2015-03-15 13:47] bvssvni opened #184 "Testing Glutin back-end with "user_input""
Running the "user_input" example https://github.com/PistonDevelopers/piston-examples/blob/master/user_input/src/main.rs

On OSX 10.9.5, I get this with Glutin:

![glutin](http://i.imgur.com/PqxXsGa.png)

SDL2:

![sdl2](http://i.imgur.com/9FCf4Rk.png)

[2015-03-15 13:48] bvssvni commented on #184
The red square is the window size and the blue square is the draw size.

[2015-03-15 13:52] bvssvni commented on #184
There are two problems here:

* glutin_window includes the title bar in the size
* the viewport is offset too high

[2015-03-15 14:25] bvssvni commented on #184
Fixed.

[2015-03-15 14:25] #184 closed

[2015-03-15 14:25] bvssvni commented on #157
Done.

[2015-03-15 14:25] #157 closed

[2015-04-03 17:39] KingOfThePirates opened #200 "All examples: Could not compile `shader_version`."
I have tried desperately to use this game engine for 10 days now. I might just use C++, but I wanna use rust :(

I originally put this problem on a separate issue, PistonDevelopers/Piston-Tutorials#61, but I wasn't sure if it should have been a new issue instead.
[code]

[2015-04-04 19:00] KingOfThePirates commented on #200
When all examples are fixed, I will close this issue. I'm using open gl 3_1 if that's useful info at all.

Progress:
deform broken, at least, at expected `window::Size`, found `[_; 2]`, expected `graphics::rectangle::Rectangle`, found `[_; 4]`, expected `graphics::rectangle::Border`, found `_`
gfx_cube broken, at least, at piston::window's CaptureCursor
image broken
paint broken, at least, at expe

[2015-04-04 19:03] Potpourri commented on #200
Looks like you need `cargo update`, piston no more uses `quack`.

[2015-04-04 21:27] KingOfThePirates commented on #200
In gfx_cube:
[code]

[2015-04-04 21:34] Potpourri commented on #200
You need to update repo `git pull`.

[2015-04-06 18:00] KingOfThePirates commented on #200
This is a new idea to me. I cannot find a good starting place to read up on this. I typed `git pull` and got `fatal: Not a git repository (or any of the parent directories): .git` Where do you recommend I start my research?

[2015-04-06 18:04] Potpourri commented on #200
Change directory to `piston-examples` and run `git pull`.

[2015-04-06 18:22] Potpourri commented on #200
If you didn't `git clone` and just downloaded zip. Then just download new version archive.

[2015-04-06 20:05] KingOfThePirates commented on #200
[code]

[2015-04-06 21:06] Potpourri commented on #200
You need to open issue on [gfx-rs/gfx_device_gl](https://github.com/gfx-rs/gfx_device_gl).

[2015-04-07 00:52] bvssvni commented on #200
@KingOfThePirates You are been unlucky with all these breaking changes!

[2015-04-07 02:31] KingOfThePirates commented on #200
Just making the world the better place. I'm glad to be the first noobie to blaze this awesome trail :)

[2015-04-07 21:54] kvark commented on #200
Ok, so `gfx_cube` requires GL-3.2, which is not supported by the target machine. Why doesn't it crash right away?

[2015-04-07 21:55] kvark commented on #200
For an experiment, try changing GL version to 3.1 in [here](https://github.com/PistonDevelopers/piston-examples/blob/master/gfx_cube/src/main.rs#L98)

[2015-04-07 21:57] kvark commented on #200
Ideally, your (@bvssvni) SDL2 window should pick a version automatically. Forcing 3.2 makes it fail on the low-end systems, forcing 2.1 makes it fail on OSX.

[2015-04-07 22:32] Potpourri commented on #200
@kvark KingOfThePirates has changed to 3.1, otherwise SDL2 panics with "Could not create GL context"
About automatic choice of versions, we [think](https://github.com/PistonDevelopers/window/issues/37) about it.

[2015-04-07 22:53] kvark commented on #200
@Potpourri huh, I see now. Maybe it's an SDL bug after all?

@KingOfThePirates could you please try running [gfx_examples/cube](https://github.com/gfx-rs/gfx_examples/tree/master/src/cube)? It should just work.

[2015-04-07 23:03] KingOfThePirates commented on #200
As long as the cube isn't intended to move, it works.

[2015-04-07 23:05] kvark commented on #200
Thanks for the confirmation! So, again, this doesn't look to be a gfx issue. The context SDL2 creates for us is bad. Are there any piston samples that use GLFW/Glutin?

[2015-04-07 23:07] Potpourri commented on #200
`user_input` example

[2015-04-07 23:09] KingOfThePirates commented on #200
I'm not sure, but this works if I change _3_2 to _3_1: PistonDevelopers/Piston-Tutorials/getting-started

[2015-04-07 23:14] kvark commented on #200
ok, so it's either SDL2 itself, or [sdl_window](https://github.com/PistonDevelopers/sdl2_window)

[2015-04-07 23:17] Potpourri commented on #200
Interestingly why this works with PistonDevelopers/Piston-Tutorials/getting-started? @KingOfThePirates can you try run other piston-examples?

[2015-04-07 23:20] kvark commented on #200
Oh, I didn't realize the tutorial is also using SDL2. The difference is perhaps the fact `gfx_cube` tries to create it with MSAA on?

[2015-04-07 23:45] KingOfThePirates commented on #200
* deform after changing opengl in code to 3.1: works
* freetype after changing opengl in code to 3.1: works
* gfx_cube after changing opengl in code to 3.1: does not work

Output and call back:
[code]
Cargo.toml
[code]
* image after changing opengl in code to 3.1: works
* paint after changing opengl in code to 3.1: works
* sprite after changing opengl in code to 3.1: works
* user_input after chang

[2015-04-08 00:16] kvark commented on #200
This is a nice report, thanks! Could you try disabling MSAA for `gfx_cube` by deleting [this line](https://github.com/PistonDevelopers/piston-examples/blob/master/gfx_cube/src/main.rs#L104)?

[2015-04-08 00:44] KingOfThePirates commented on #200
Done for the day- at work :(

Can get back to it tomorrow or overmorrow.

[2015-04-08 00:48] kvark commented on #200
@KingOfThePirates I'm glad to know that you are not blocked by anything, at least. In the worst case just don't use SDL2.

[2015-04-08 13:09] bvssvni commented on #200
So hard to get a window working now days!

[2015-04-08 22:11] KingOfThePirates commented on #200
Updated rust nightly.

Commenting out `.sample(4)`, before doing `git pull` and `cargo update`:
[code]
Commenting out `.sample(4)`, after doing `git pull` and `cargo update`:
[code]

[2015-04-09 00:26] kvark commented on #200
@KingOfThePirates thanks! so it's not about MSAA then, must be something else that SDL2 is confused about.

[2015-04-09 02:00] KingOfThePirates commented on #200
So should I just buy a brand new computer now

[2015-04-09 02:03] kvark commented on #200
@KingOfThePirates Just don't use SDL2 if you want to make some progress. Both Piston and gfx-rs work fine with GLFW and Glutin.

[2015-04-09 17:06] KingOfThePirates commented on #200
Do I need to uninstall sdl2 before I can install another graphics?

[2015-04-09 17:14] Potpourri commented on #200
@KingOfThePirates no, it is not necessary.

[2015-04-09 18:00] KingOfThePirates commented on #200
I think I need to follow [this](http://www.glfw.org/docs/latest/compile.html)? It seems complicated. Am I doing the right thing?

[2015-04-09 18:05] Potpourri commented on #200
`glfw-rs` by default by itself build `glfw`, you enough have installed `cmake`.

[2015-04-09 18:07] KingOfThePirates commented on #200
I need some extra clarification. What is my next step?

[2015-04-09 18:11] kvark commented on #200
@KingOfThePirates Ok, I missed something. Why do other SDL-based examples work (like the `sprite` one)? Looking again....

[2015-04-09 18:21] kvark commented on #200
Ok, it's not that SDL is the issue, it's SDL + gfx-rs combination that is faulty for some reason.

[2015-04-09 18:23] KingOfThePirates commented on #200
Hmm. User input now works.

[2015-04-09 18:25] kvark commented on #200
So, `gfx_cube` is the only thing not working for you? Is this a blocker?

[2015-04-09 18:29] KingOfThePirates commented on #200
Correct.

[2015-04-09 18:32] kvark commented on #200
@KingOfThePirates So basically, you'd be fine if you had a modified `gfx_cube` that works with [glutin](https://github.com/tomaka/glutin) instead of SDL?

[2015-04-09 18:33] KingOfThePirates commented on #200
I am working on hacking that to work. Still uncomfortable with the api since I'm a noob.

[2015-04-09 18:34] Potpourri commented on #200
Ok, then I change `gfx_cube` example to use `glutin_window`.

[2015-04-09 18:35] kvark commented on #200
@Potpourri thank you!

[2015-04-09 18:37] KingOfThePirates commented on #200
What is the difference between `use sdl2_window::Sdl2Window as Window;` and `use sdl2_window::{ Sdl2Window, OpenGL };`?

[2015-04-09 18:46] kvark commented on #200
`use sdl2_window::Sdl2Window as Window;` - imports `Sdl2Window` visible as the name `Window` in the current namespace.

`use sdl2_window::{ Sdl2Window, OpenGL };` - imports `Sdl2Window` and `OpenGL` into the current namespace

[2015-04-09 18:49] KingOfThePirates commented on #200
@Potpourri Note that [the gfx_examples cube](https://github.com/gfx-rs/gfx_examples/blob/master/src/cube/main.rs) works, and I do not have to edit the file for the opengl version.

[2015-04-09 18:50] Potpourri commented on #200
`glutin_window` has bug with mouse cursor captured, I change to use `glfw_window`.

[2015-04-09 18:51] kvark commented on #200
Ouch. To be fare, it doesn't close #200, since it's still a mystery.

[2015-04-09 18:52] Potpourri commented on #200
Yes are right, but I hope it now works for @KingOfThePirates.

[2015-04-09 18:53] KingOfThePirates commented on #200
Found it? ` Some(E::MouseMoved((x, y))) => {
                self.last_mouse_pos = Some((x as f64, y as f64));
                Some(Input::Move(
                    Motion::MouseCursor(x as f64, y as f64)))
            }`

[2015-04-09 18:53] KingOfThePirates commented on #200
No `,`

[2015-04-09 18:58] kvark commented on #200
@KingOfThePirates Please let us know if the updated `gfx_cube` works for you. I'm still puzzled about why the SDL version doesn't work, so it would be useful to get back to this issue and play with the example a bit when you reach your immediate goals and get more experience with the libraries.

[2015-04-09 19:04] KingOfThePirates commented on #200
It does not work for me.
Output and call stack:
[code]
Cargo.toml
[code]
Shouldn't gfx_cube's Cargo.toml look more similar to user_input's?

[2015-04-09 19:06] kvark commented on #200
Wow, so it's not about SDL/glfw?..

[2015-04-09 19:06] Potpourri commented on #200
Hmm, it seems it's not SDL2 fault.

[2015-04-09 19:09] kvark commented on #200
@KingOfThePirates you did change GL version to 3.1 and removed `samples(4)`, did you?

[2015-04-09 19:11] KingOfThePirates commented on #200
I did change the GL version, but not remove `samples(4)`.
Just removed `samples(4)`, same error.

[2015-04-09 19:12] kvark commented on #200
This is weird. Ok, what's the difference between `gfx_cube` and `gfx_examples/cube`? The use of `glfw_window` and graphics-unrelated (seemingly) piston events. Anything else?

[2015-04-09 19:16] kvark commented on #200
One thing I found is that `glfw_window` (and presumably other windows too) gets all GL functions by itself. This is a duplicate work that `gfx_device_gl` does, so there is a room for better integration here, or maybe it's even related to our problem.

[2015-04-09 19:17] kvark commented on #200
Ok, found 2 bugs:
https://github.com/PistonDevelopers/sdl2_window/blob/master/src/lib.rs#L62
https://github.com/PistonDevelopers/glfw_window/blob/master/src/lib.rs#L79

@Potpourri could you have a quick look at it?

[2015-04-09 19:20] Potpourri commented on #200
Yes, know about it, but this not problem in SDL2 for me and other, although I have not support OpenGL profiles.

[2015-04-09 19:27] Potpourri commented on #200
@kvark you think the problem in context initialization?

[2015-04-09 19:28] kvark commented on #200
@Potpourri that's the only thing different between piston's `gfx_cube` and `gfx_examples/cube`. Both are on GLFW now, but piston is doing it via `window_glfw`, which does a lot more extra:
  - queries all GL functions
  - sets up the forward-compatible profile

[2015-04-09 19:33] kvark commented on #200
@Potpourri see https://github.com/PistonDevelopers/window/issues/56

What I'd like to see tested is `gfx_cube` with a modified `window_glfw` that doesn't touch GL and doesn't set the forward-compatible flag.

[2015-04-09 19:56] KingOfThePirates commented on #200
conrod/examples/all_widgets.rs works (after changing the GL version, of course) :D

[2015-04-10 07:42] KingOfThePirates commented on #200
Hold on its late at night so I'm in a daze, but I may not have done a `git pull` before trying gfx_cube when you last asked me to. I don't think I knew pot's changes went thru. I'll look at it in the morning.

[2015-04-10 17:36] KingOfThePirates commented on #200
Nvm, still the same problem.

[2015-04-10 17:48] kvark commented on #200
@KingOfThePirates here are the possible ways to proceed for you:
  1. Play with gfx directly without using piston-window/event loop
  2. Play with piston & [piston-graphics](https://github.com/PistonDevelopers/graphics) using opengl [backend](https://github.com/PistonDevelopers/opengl_graphics), thus not using gfx-rs
  3. Try to fix glfw_window (or sdl2_window) by removing GL initialization and fo

[2015-04-10 18:26] KingOfThePirates commented on #200
I have a way to move forward, but I want to fix this issue. If not now, then when I am better at programming.

[2015-04-10 18:27] KingOfThePirates commented on #200
Thank you for both of you guys' help on this. I hope I can be more useful later.

[2015-04-10 21:25] kvark commented on #200
@KingOfThePirates just a heads up - we are still looking at your issue (on IRC), and we might need you to experiment a bit more.

[2015-04-10 21:33] kvark commented on #200
@KingOfThePirates please try running the example from https://github.com/cmr/nice_glfw and post the output

[2015-04-10 22:28] KingOfThePirates commented on #200
I see it. I'm at work so I can't do any more experimenting.

[2015-04-12 06:07] andrensegura opened #223 "Example gfx_cube: gfx::Frame has no function "new"."
Hey all,

After trying to build gfx_cube, I receive this error:

    [andre@localhost gfx_cube]$ cargo build
    Compiling piston-example-gfx_cube v0.0.0 (file:///home/andre/Workspace/rust/piston-examples/gfx_cube)
    src/main.rs:107:17: 107:32 error: type `gfx::render::target::Frame<_>` does not implement any method in scope named `new`
    src/main.rs:107     let frame = gfx::Frame::new(win_wid

[2015-04-12 09:48] zummenix commented on #223
@andrensegura You are right there is no method in `gfx::Frame` called `new` – example a bit outdated.
@mitchmindtree opened an issue: https://github.com/gfx-rs/gfx-rs/issues/686 related to panic.

[2015-04-12 11:20] bvssvni commented on #223
This was fixed by https://github.com/PistonDevelopers/gfx_graphics/pull/202

[2015-04-14 15:25] kvark commented on #200
@KingOfThePirates you could try anything with SDL2 again, since https://github.com/PistonDevelopers/sdl2_window/pull/164 gives a chance.

[2015-04-14 15:25] #223 closed

[2015-04-18 17:29] KingOfThePirates commented on #200
I should have time today. About to do some family things this moment.

[2015-04-18 20:41] KingOfThePirates commented on #200
What file do you want me to try?

[2015-04-19 10:52] bvssvni commented on #200
@KingOfThePirates Try the image, paint and deform examples.

[2015-04-20 18:41] KingOfThePirates commented on #200
Before my testing:
1. Updated rust nightly.
2. Did `git pull`.
3. For each piston example, changed `let opengl = OpenGL::_3_2;` to `let opengl = OpenGL::_3_1;` and did `cargo build`, `cargo update`, and another `cargo build`.

image (runs and works)
[code]
paint (takes a very long time to do `cargo run`/`cargo test`, but runs and works)
[code]
deform (runs and works)
[code]
freetype, sprite, and u

[2015-04-22 22:46] KingOfThePirates opened #228 "error: stability attributes may not be used outside of the standard library"
[code]

[2015-04-23 20:24] bvssvni commented on #228
I think rust-sdl2 was updated. Try `cargo update` and see if it works.

[2015-05-15 19:06] bvssvni commented on #228
This should be fixed now. Closing.

[2015-05-15 19:06] #228 closed

[2015-05-15 19:15] bvssvni commented on #200
I'll close this, since it seems the issue was figured out.

[2015-05-15 19:15] #200 closed

[2015-05-22 15:32] bvssvni opened #236 "Upgrade "gfx_cube" example to latest Gfx"

[2015-05-22 16:11] bvssvni commented on #236
Was working against an old branch.

[2015-05-22 16:11] #236 closed

[2015-05-25 19:18] bvssvni opened #240 "Camera controller is very sensitive"
Something is wrong with the gfx_cube example.

[2015-05-25 19:23] bvssvni commented on #240
This works fine with sdl2_window. The example uses glutin_window.

[2015-05-25 19:29] bvssvni commented on #240
Instead of giving relative mouse coordinates, it gives the cursor position, which remains constant.

[2015-05-25 19:31] bvssvni commented on #240
There is a bug in glutin_window that just returns the last mouse position as relative https://github.com/PistonDevelopers/glutin_window/blob/master/src/lib.rs#L83

[2015-05-25 19:39] #240 closed

[2015-05-28 19:17] kinson opened #242 "Mismatched types"
When I try to build any of the examples I get two types of errors. The first is mismatched types, and the second is that a trait is not implemented for the open_gl library. I've attached a screen shot of the errors. This could be an error with my machine, but I'm too new to Rust to really know.

![image](https://cloud.githubusercontent.com/assets/1526888/7868842/707137fe-0533-11e5-984c-c204342bca2

[2015-05-28 20:54] bvssvni commented on #242
This is because we switched to crates.io dependencies and the examples need to be updated. See https://github.com/PistonDevelopers/piston/issues/891

I'll update them.

[2015-05-29 00:28] bvssvni opened #245 "Move over assets from gfx_graphics"
These belongs to the gfx_graphics examples https://github.com/PistonDevelopers/gfx_graphics/tree/master/assets

[2015-05-29 00:31] bvssvni commented on #242
I got "gfx_cube" and the "sprite" example updated, but it is getting too late here. Will work on this tomorrow.

[2015-05-29 11:56] bvssvni commented on #245
Closed by https://github.com/PistonDevelopers/piston-examples/pull/248

[2015-05-29 11:56] #245 closed

[2015-05-29 12:13] bvssvni commented on #242
The examples are now updated. Closing.

[2015-05-29 12:13] #242 closed

[2015-06-20 07:42] anmej opened #258 "Demonstrate max_fps() and ups() usage"
It is hard to find out how to use those, took me a while to realize you need to do `for e in window.events().max_fps(120).ups(60) {`, and I still don't know where you can see the other methods.

[2015-06-20 08:00] bvssvni commented on #258
For the other methods, see http://docs.piston.rs/piston/piston/event/struct.WindowEvents.html.

[2015-06-20 08:15] anmej commented on #258
Thanks. BTW, where do I find the `events()` method?

[2015-06-20 08:24] bvssvni commented on #258
Here http://docs.piston.rs/piston/piston/event/trait.Events.html.

[2015-06-20 08:25] bvssvni commented on #258
You can use the search bar at the top to look for methods.

[2015-06-20 10:09] WoodyAtHome opened #259 "getting-started doesn't run on ubuntu 14.04"
Hi,

I could compile an start the example on the piston page. I had to add ```opengl(OpenGL::_2_1)``` to the WindowSettings.

But I can't run the getting-started example.

I changed ```OpenGL::_3_2``` to ```OpenGL::_2_1```:
[code]

an run

[code]
No idea, what I can do now. My machine says:
[code]

[2015-06-20 10:59] bvssvni opened #260 "Add "hello world!" example"
Should load font from assets folder and display a text "hello world!" with `PistonWindow`.

[2015-06-20 11:00] bvssvni opened #261 "Use shared assets folder at top level"
All the examples could use the find_folder library.

- [x] gfx_graphics examples
- [x] image example
- [x] freetype example
- [x] sprite example

[2015-06-20 11:29] bvssvni opened #262 "Update gfx_graphics examples"
- [x] Remove "image_test" example, since it is a subset of "draw_state_test"
- [x] Upgrade to piston_window 0.5.0

[2015-06-20 11:35] #262 closed

[2015-06-20 12:26] #261 closed

[2015-06-20 12:27] bvssvni commented on #260
Could use "text_test" example for gfx_graphics.

[2015-06-20 12:31] bvssvni opened #268 "Move gfx_graphics examples to the top"
The "src" folder can be put directly at top level.

- [x] Rename "text_test" to "hello_world"
- [x] Rename "draw_state_test" to "draw_state"

[2015-06-20 13:03] #268 closed

[2015-06-20 13:04] bvssvni commented on #260
Closed by https://github.com/PistonDevelopers/piston-examples/issues/268

[2015-06-20 13:04] #260 closed

[2015-06-20 13:04] bvssvni commented on #165
Done, using the "draw_state" example.

[2015-06-20 13:04] #165 closed

[2015-06-20 13:10] WoodyAtHome commented on #259
Sorry. This post belongs to Piston-Tutorials. I was confused by examples and tutorials.

[2015-06-20 13:10] #259 closed

[2015-06-20 13:17] bvssvni opened #271 "Move other examples under `src`"
"freetype" and "user_input" can stay the way they are at the moment. The other examples should use `PistonWindow`.

- [x] deform
- [x] gfx_cube
- [x] image
- [x] paint
- [x] sprite

[2015-06-20 14:21] bvssvni commented on #271
Done.

[2015-06-20 14:21] #271 closed

[2015-06-20 14:27] bvssvni opened #277 "Fix .travis.yml"
The examples moved to the "src" folder.

[2015-07-08 03:34] gsingh93 opened #282 "hello_world example shows black screen"
I ran the `hello_world` example and only saw a black screen, no text. This is on Arch Linux.

[2015-07-09 17:33] #277 closed

[2015-07-09 17:34] #258 closed

[2015-07-09 17:34] bvssvni commented on #282
Can you change the background color?

[2015-07-09 18:15] gsingh93 commented on #282
Huh, yea I can, and it turns out the "Hello World" was just black. But it should be set to green from the code...

[2015-07-09 18:16] gsingh93 commented on #282
Here's a screenshot:
![selection_002](https://cloud.githubusercontent.com/assets/1012677/8603253/19ac1258-2645-11e5-98ac-7b4f60f3aff3.png)

[2015-07-09 19:02] giogadi commented on #282
I just had this issue too. Is the colored text code not working properly?

[2015-07-09 19:39] bvssvni commented on #282
I got black too...

[2015-07-10 10:06] bvssvni commented on #282
A list of the places of interest to this bug:

- [ ] https://github.com/PistonDevelopers/piston-examples/blob/master/src/hello_world.rs#L26
- [ ] https://github.com/PistonDevelopers/graphics/blob/master/src/text.rs#L27
- [ ] https://github.com/PistonDevelopers/graphics/blob/master/src/text.rs#L38
- [ ] https://github.com/PistonDevelopers/graphics/blob/master/src/image.rs#L78
- [ ] https://github.c

[2015-07-10 10:11] bvssvni opened #285 "Closing window with mouse in hello_world example causes error"
This happens only when using the mouse (OSX 10.9.5).

[code]

[code]

[2015-07-10 10:14] bvssvni commented on #282
[code]

[2015-07-10 10:21] bvssvni commented on #282
Tested this on Rust 1.1 and it shows the same bug.

[2015-07-10 10:40] bvssvni commented on #282
Both shaders looks right:

- [x] https://github.com/PistonDevelopers/shaders/blob/master/graphics2d/textured/120.glslf
- [x] https://github.com/PistonDevelopers/shaders/blob/master/graphics2d/textured/150_core.glslf

[2015-07-10 10:50] bvssvni commented on #285
This happens sometimes (7:11) when using the mouse but not when closing with Esc (0:20).

[2015-07-10 10:55] bvssvni commented on #282
I've overridden gfx_graphics locally with .cargo/config and printed out the color before setting it in the shader parameter:

[code]

It prints out `TEST [0, 1, 0, 1]`.

[2015-07-10 11:09] bvssvni commented on #282
Overwriting rust.png with a colored image and running the image example:

![screen shot 2015-07-10 at 13 07 47](https://cloud.githubusercontent.com/assets/1743862/8617499/b4c98238-2704-11e5-8a1d-44b31a4f04fc.png)

[2015-07-10 11:11] bvssvni commented on #282
Rendered with `Image::new_colored` set to green:

![screen shot 2015-07-10 at 13 10 55](https://cloud.githubusercontent.com/assets/1743862/8617548/21cf5c68-2705-11e5-8ef5-5bcbf0c7a897.png)

[2015-07-10 11:20] bvssvni commented on #282
I suspect there is something wrong with the texture generated from a glyph.

- [x] https://github.com/PistonDevelopers/gfx_graphics/blob/master/src/glyph.rs#L62
- [x] https://github.com/PistonDevelopers/gfx_texture/blob/master/src/lib.rs#L87
- [ ] https://github.com/PistonDevelopers/texture/blob/master/src/ops.rs#L21 (found the bug)

[2015-07-10 11:26] bvssvni commented on #282
Fixed by https://github.com/PistonDevelopers/texture/pull/30

[2015-07-10 11:26] #282 closed

[2015-07-10 14:42] gsingh93 commented on #282
I don't understand the fix. What was the problem?

On Fri, Jul 10, 2015, 7:26 AM Sven Nilsen <notifications@github.com> wrote:

[2015-07-11 04:54] bvssvni commented on #282
@gsingh93 `cargo update` should fix it. It rendered black pixels because when converting from a 8-bit alpha texture into rgba8 the rgba components were set to 0. By setting them to 255 the output color from the fragment shader multiplied with the uniform color becomes the color of the text.

[2015-07-20 17:41] bvssvni opened #290 "Add example with bloom effect"
There was a post on /r/rust_gamedev https://www.reddit.com/r/rust_gamedev/comments/3dw6gx/geometry_warslike_shaders_for_my_2d_game/ about using a bloom effect. This would be a nice example for demonstrating combination of Gfx and piston-graphics.

Could add an example that shows how to render to a separate texture, apply the filter and then use additive blending to compose it.

Article http://www.

[2015-07-22 12:12] bvssvni opened #291 "thread '<main>' has overflowed its stack"
I'm getting this error now when trying to build the examples:

[code]

[2015-07-22 15:40] bvssvni commented on #291
It works on Rust 1.1.

[2015-09-06 10:15] ScottHuangZL opened #302 "bug - Compiling piston-gfx_texture v0.3.0 - error: internal compiler errorthread 'rustc' panicked at 'no entry found for key', ../src/libcore\option.rs:332"
Compiling piston-gfx_texture v0.3.0
error: internal compiler errorthread 'rustc' panicked at 'no entry found for key', ../src/libcore\option.rs:332

: unexpected panic
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
note: run with `RUST_BACKTRACE=1` for a backtrace
Could not c

[2015-09-06 16:02] boghison commented on #302
This has been fixed in rustc

[2015-09-06 16:02] #302 closed

[2015-09-07 02:26] ScottHuangZL commented on #302
Thank you, I will try it later.

[2015-09-14 10:53] bvssvni opened #306 "Add a gamepad example using SDL2"

[2015-09-22 15:30] ScottHuangZL opened #307 "Can build and run, however, cannot show font correctly"
Dear Piston,

I am try to run the hello_world program, it can compile and run, **however, the word did not show correct since the font not show correctly. It just use a filled rectangle to stands for each character.**

Could you help to look into it?  And give a hand to me? thanks.
I am use Win 7 64bit, Rust 1.5 nightly.

Btw, I also download other games to test, such as rocket and pong-rs, they c

[2015-09-23 06:20] bvssvni commented on #307
This is probably an issue with libfreetype on windows. See https://github.com/PistonDevelopers/freetype-sys/issues/37

[2015-09-23 12:09] ScottHuangZL commented on #307
The game "pong-rs" or "rocket" can build and run smoothly in my computer.
So, there should be some bug/issue in hello_world sample.
Please help to compare and find out root cause.  Is it caused by they use glutin_window instead of piston_window?? How to resolve it? Thanks.

[2015-10-02 12:35] bvssvni opened #310 "Testing joystick with "user_input" example"
Editing the "user_input" example to test joystick events with the SDL2 window backend. I'm using a PS3 controller connected to a mac.

Here is the input mapping:

![PS3 controlller](http://talk.maemo.org/attachment.php?attachmentid=18387&stc=1&d=1299508362)

[2015-10-02 12:39] bvssvni commented on #310
Joystick axis is a bit harder to read. Could draw the input visually.

[2015-10-02 23:20] xaviershay commented on #310
you beat me to it! :)

[2015-10-03 14:42] bvssvni commented on #310
I was trying to connect via Bluetooth and Firefox crashed. Wat.

[2015-10-03 14:54] bvssvni commented on #310
PS3 controller via Bluetooth works now. Here is what I did on OSX 10.9.5:

1. Enable Bluetooth in Systems Preferences.
2. Connect the PS3 controller via USB.
3. Click at the Bluetooth icon in the top bar, select the MAC address (I had to guess) and then `-> Connect`.
4. Disconnect the USB cable.
5. Hold the button with PlayStation logo down for 1-2 seconds.
6. Start the "user_input" example.

[2015-10-03 14:55] bvssvni commented on #310
I have a PlayStation Move controller as well, but it doesn't work yet.

[2015-10-25 18:19] adjivas opened #316 "help about hello_world"
Hello,

I work with **src/hello_world.rs** file and try to use **text::Text::new_color** in my function but my prototype/code isn't valid:

Please, can you inform me about the good prototype to use for resolve my problem?

[code]

The problem/error:
[code]

[2015-11-14 15:20] mathgamain opened #321 "no backend available"
Hi, I don't know where to seek help so I decided to post here as this error occurs on these examples as well, when I try to create a window, the unwrap panicks and returns "no backend id available", what does it mean?

[2015-11-16 08:41] ryo33 commented on #321
I found it at https://github.com/tomaka/glutin/blob/6a3ee2af759cf803d787cf6dcbafcdcc4e0243cd/src/lib.rs#L150.

[2015-11-16 17:02] mathgamain commented on #321
Checking the code ryo33 linked it seems backends are Wayland or X, I tried to run in another machine and it worked so the problem is in my machine, now why "X" is not available is beyond my understanding, any tips on how can I debug this?

[2015-12-02 00:06] bvssvni opened #325 "Deleted unused branch "olddesign""
The "olddesign" branch is no longer needed.

[2015-12-02 07:02] kookerus opened #326 "Piston projects won't compile on 64 bit Windows"
When attempting to compile an Piston project on Windows x64, I get an issue with a file called miniz.c, which apparently doesn't support x64. Is there any way around this?

[2015-12-02 17:45] mbrubeck commented on #326
I believe this is caused by GCC not including 64-bit support.  More details at https://www.reddit.com/r/rust_gamedev/comments/3v5vpq/piston_projects_wont_compile_on_x64_windows/cxkk68i

[2015-12-02 18:10] kookerus commented on #326
Thanks. I saw that and just got an x64 compiler installed. I could've sworn I mine was 64 bit, but apparently not. Sorry for wasting your time.

[2015-12-02 18:10] #326 closed

[2015-12-03 15:08] bvssvni commented on #325
Done.

[2015-12-03 15:08] #325 closed

[2015-12-15 01:45] adambadawy commented on #307
This is also happening to me on Windows 7, 64-bit. I'm using Rust 1.5 stable.

[2015-12-15 02:34] mitchmindtree commented on #307
Hmm this does seem strange, I can't see anything wrong with the example after a quick look - are you able to test it with a different font perhaps?

[2015-12-15 02:38] adambadawy commented on #307
I will try and report back.

FWIW I'm investigating right now, and [freetype-rs](https://github.com/PistonDevelopers/freetype-rs)'s `single_glyph` example seems to be working correctly. The only crate that depends on freetype-rs directly is piston2d-gfx_graphics, and the only crate that depends on _that_ is piston_window itself (which is the crate I was using when I found this problem).

[2015-12-15 02:41] adambadawy commented on #307
I tried with a different font. Same (incorrect) result. Additionally, I have reason to believe the example is not wrong, as it works for me on Linux Mint, and a friend reported that it works for them on Windows 10.

[2015-12-15 02:45] adambadawy commented on #307
For reference, here's what the issue looks like:

![bug](https://cloud.githubusercontent.com/assets/6981186/11800589/c523eaf6-a2ab-11e5-91b3-613abb412f9f.png)

Note that this is a screenshot from a program slightly different from the example.

[2015-12-15 02:49] adambadawy commented on #307
One final note: I set up linkage to freetype as per [https://github.com/PistonDevelopers/freetype-sys/blob/b7a07f53d1614a387fd7a6dc5cc9a2a33b8ac1f7/README.md](these) instructions.

[2015-12-15 23:32] adambadawy commented on #307
Update: I cannot render an image at all on my system. I presume text rendering does not work because it [creates an Image](https://github.com/PistonDevelopers/graphics/blob/master/src/text.rs#L71) and renders with that.

[2016-01-29 21:35] svenstaro opened #331 "Update sprite example for new API"
The API seems to have changed and I don't quite know how to incorporate the changes.

[2016-02-25 07:39] sjmackenzie commented on #321
I'm getting this issue too:
[code]
Forking and overriding isn't very successful on nixos. What other ways are there to mitigate this issue?

[2016-02-25 17:39] bvssvni commented on #321
The window backend can be changed to SDL2:

[code]

[2016-02-25 17:47] sjmackenzie commented on #321
Actually, as we're loading so many dylibs at roughly the same time, and that the behaviour sometimes works it probably means dlopen is not thread safe. We'll need to implement something like this: https://sourceware.org/ml/libc-help/2014-11/msg00008.html

[2016-03-05 09:53] malynome opened #334 "Can't run tutorial - Failed to get root window: XError"
I'm sorry to bother, but I can't seem to be able to run the tutorial. I'm thinking it's something on my end, so excuse my ignorance, but could anyone point me in the right direction as to find a solution?
I'm on Linux(voidlinux), here is the error that i get:
thread 'main' panicked at 'Failed to get root window: XError { description: "GLXBadFBConfig", error_code: 179, request_code: 154, minor_code

[2016-03-11 17:03] #334 closed

[2016-04-04 22:48] bluecereal opened #336 "examples refuse to compile (outdated?)"
attempting to cargo run the examples gives the error: thread '< main >' panicked at 'called `Result::unwrap()` on an `Err` value: "Couldn\'t find any pixel format that matches the criterias.

i used cargo run --bin 'example_name'.  code was cloned via git, so typos aren't the issue.  what did i do wrong?  are the examples out of date?

[2016-04-05 04:18] mitchmindtree commented on #336
Just thought I'd mention we're getting [the same issue](https://github.com/PistonDevelopers/conrod/issues/705) in conrod's examples.

[2016-04-06 02:25] bvssvni commented on #336
This could be an issue with sRGB.

@bluecereal Do you have any info about the platform and graphics hardware you're using?

[2016-04-08 03:50] bluecereal commented on #336
CPU: AMD FX8350
GPU: R9 290x
RAM: 8GB DDR3
OS: Ubuntu 14.04
I recall setting sRGB to false and still getting the same error.

[2016-04-08 18:05] bvssvni commented on #336
Does the "user_input" or "freetype" example works for you?

The piston_window overrides sRGB to true, because it uses gfx_graphics. The "user_input" and "freetype" example uses opengl_graphics. The opengl_graphics also enabled sRGB at the moment, but you might get an different error.

[2016-04-08 18:29] csherratt commented on #336
Could this be a result of https://github.com/tomaka/glutin/issues/748 ? Basically glutin requires a GLX_ARB_framebuffer_sRGB or else it will fail to create a context if sRGB was requested.

[2016-04-09 19:22] bluecereal commented on #336
I got a different error when trying to compile user_input and freetype.

note: /usr/bin/ld: cannot find -lSDL2
/usr/bin/ld: cannot find -lSDL2
collect2: error: ld returned 1 exit status

[2016-04-11 21:16] bluecereal commented on #336
after installing SDL i get a different error when running freetype or user_input

thread '<main>' panicked at 'called `Result::unwrap()` on an `Err` value: "SDL error: Could not create GL context"', ../src/libcore/result.rs:688

the examples in the src directory give the same errors theyve given previously

[2016-04-13 13:06] bvssvni opened #340 "Cube example does not render the cube"

[2016-04-13 16:02] #340 closed

[2016-04-13 16:06] bvssvni opened #342 "Paint example extremely slow in debug mode"
The paint example is extremely slow in debug mode. Try:

[code]

vs

[code]

[2016-04-13 21:29] pierrechevalier83 commented on #336
The original reported issue:  "Couldn\'t find any pixel format that matches the criterias." is fixed with commit 9df60172e0cf7e719760b2022991a51ae42b2a7c.

I can't reproduce the issue with user_input and free_type locally.

[2016-04-20 07:14] TheNeikos opened #345 "Cannot clear window due to `draw_*d` being on the window now"
An unforseen consequence of putting the draw on the window is that it is now borrowed mutably! Which means that one cannot now borrow anything from it immutably, like for example clearing the output.

[code]

Will not compile.

[2016-04-20 07:17] TheNeikos commented on #345
Oops, wrong repo

[2016-04-20 07:17] #345 closed

[2016-04-29 14:11] panicbit commented on #331
I'm currently updating all of the example to get them working with the latest Piston release.
Here is the updated sprite.rs: https://github.com/panicbit/piston-examples/blob/6b516ed4bfc31e3b33d96698e1b67d085301c1f4/src/sprite.rs

[2016-04-29 14:38] bvssvni commented on #331
@panicbit Looks right!

[2016-04-29 14:54] #331 closed

[2016-04-29 15:10] panicbit commented on #342
Even in release mode it's slow when drawing very rapidly. But more importantly: It OOMs.

[2016-04-29 15:19] bvssvni commented on #342
Out of memory?

[2016-04-29 15:20] panicbit commented on #342
Yup. It quickly fills gigabytes of memory.

[2016-04-29 15:25] bvssvni commented on #342
*@bvssvni curses the rain gods* :umbrella:

[2016-05-19 16:49] bvssvni opened #349 "Not receiving mouse relative events in cube example"
The window does not receive relative mouse events when the cursor is captured. This is required for FPS.

[2016-05-19 19:12] bvssvni commented on #349
Fixed by https://github.com/PistonDevelopers/sdl2_window/pull/230.

[2016-05-19 19:12] #349 closed

[2016-07-03 03:02] jamescgibson opened #356 "Upgrade to gfx 0.12.0"
On my machine, there's some opengl issue which prevents any of the examples from running. I talked to the gfx folks on Gitter, and since I can run the gfx examples in gfx 0.12.0, they consider this a solved issue.

I tried just replacing gfx 0.11.0 with gfx 0.12.0 in Cargo.toml, but no luck. Would be great if piston-examples could be updated to rely on gfx 0.12.0.

I'm very new to piston / rust /

[2016-08-16 03:24] behtgod opened #360 "Cannot run piston-example on Fedora24 virtual machine"
Hello,
I got the error when `cargo run`

The OS is feroda24 virtual machine.

[2016-08-22 09:28] 3442853561 opened #361 "我应该如何隐藏后台窗体？"
How could I close or hide the DOS windows?
我应该如何隐藏后台窗体？

[2016-08-25 11:14] sumproxy opened #363 "Paint example cannot draw dots"
The problem here is that current code composition doesn't allow to retrieve Button::Mouse(MouseButton::Left) Event and current cursor coordinates simultaneously. I face the same problem [here](https://gist.github.com/sumproxy/28681d707de9fa4753e93605aff89b78.js), which being based on the same idea doesn't draw a new symbol after the mouse button is released, but instead waits until the cursor move

[2016-08-25 15:18] sumproxy commented on #363
I found a way of solving this by adding an if condition to get current mouse cursor coordinates and then reusing them in the event of MouseButton::Left

[2016-08-25 15:18] #363 closed

[2016-09-04 03:47] bombless commented on #361
参考
http://stackoverflow.com/questions/29763647/how-to-make-a-program-that-does-not-display-the-console-window
https://github.com/rust-lang/rust/issues/29596
我用的是GNU ABI所以比如说编译hello_world的时候用的`cargo rustc --bin=hello_world --release -- -Clink-args="-mwindows"`

I'm using GNU ABI so I build hello_word with `cargo rustc --bin=hello_world --release -- -Clink-args="-mwindows"` for example

[2016-09-07 05:19] bombless commented on #361
https://github.com/rust-lang/cargo/blob/2cda339cc23dda36ac247a34d28adcd30beead00/src/doc/config.md
I hope `[build.rustflags]` can help with this but it seems that it cannot be optional over build target ...

[2016-09-13 13:42] #361 closed

[2016-10-06 19:03] #316 closed

[2016-10-13 12:33] chriscamacho opened #368 "minor issue with cube indexes"
[code]

should be

[code]

you can more easily see this if you do

[code]

which you should probably do anyhow as it makes the cube actually look like a cube and gives a better insight as to what create_texture_const is actually doing...

[2016-10-31 19:53] cooperra commented on #336
I built this project today and everything worked.

[2016-11-01 07:22] #368 closed

[2016-11-29 01:34] radix opened #375 "paint example slightly misleading with respect to mouse_cursor_args"
`event.mouse_cursor_args` does not return coordinates when the event has a `MouseButton` event -- an odd behavior, for sure, but the paint example specifically calls it anyway when it receives a mouse click. It also calls it elsewhere, but the call in the handler for `MouseButton` was enough to confuse me for a couple of hours as I tried to get mouse input working.

I'll submit a PR to remove that

[2016-11-29 16:56] radix commented on #375
I'll close this since the PR was merged, thanks :)

[2016-11-29 16:56] #375 closed

[2016-12-18 02:26] mark-blum commented on #360
I am having this problem too, except on a non-virtual Arch Linux machine using rust 1.13. This affects all the examples except for cube.rs for some reason. It seems to me that the code is panicking during .build() of making the window (instead of returning an Err(...)), though in my case it seems to be because of make_current in glutin.

Here's my backtrace as well since it seems to be a bit diffe

[2016-12-24 00:29] nicholasguyett commented on #336
I'm experiencing the same issues.  Running from ubuntu (bash on windows) via X server.

After seeing the second comment in this issue, I tried running the examples for conrod and got the same exact error.

[2017-01-03 00:01] martinlindhe commented on #356
This issue seems to be resolved, https://github.com/PistonDevelopers/piston-examples/blob/master/Cargo.toml#L50

[2017-01-03 08:48] bvssvni commented on #356
Thanks! Closing.

[2017-01-03 08:48] #356 closed

[2017-01-21 03:53] bluecereal commented on #336
If I remember correctly, disabling srgb did nothing unless it was done through a WindowSettings for some reason (as opposed to the normal PistonWindow::new() builder pattern), which is basically what the code below does.
Although, I have been out of the Piston loop for a while now, so this code may be outdated.  This issue was caused by something to do with gfx (i think?).  kvark takes good care o

[2017-01-21 03:53] #336 closed

[2017-02-28 07:08] cooperra opened #385 "README inaccurately says nightly is needed"
All of the examples seem to work fine on stable. Is the README out of date?

[2017-02-28 07:14] bvssvni commented on #385
Yes.

[2017-02-28 07:56] #385 closed

[2017-03-20 17:27] jamescgibson commented on #356
Thanks!

[2017-05-27 02:30] ucarion opened #390 "The cube example shouldn't use integers for texture coordinates"
This isn't a bug, but rather a suggestion for making the cube example more helpful for noobs (like me).

In the cube example, `a_tex_coord` is an `ivec2`/`[i8; 2]`, which led me to assume that it is supposed to be an index. Of course, if I knew how `texture()` works in fragment shaders, I would have known better -- but I didn't, because I'm a noob. I assumed that `a_tex_coord` was a 2d-index into

[2017-05-30 17:51] eiko opened #391 "fatal error LNK1181: cannot open input file 'SDL2.lib'"
i get this error when i run `cargo build` in the main project directory on windows 10. i assume i'm getting this error because i don't have SDL2 on my computer, but SDL for Windows is a .dll, not a .lib. and even then, i wouldn't know where to put the file so piston can find it.

[2017-05-30 18:41] eiko commented on #391
for what it's worth, i "fixed" the problem by replacing sdl2 with glutin wherever it appeared. all examples work for me on win10 with glutin.

[2017-06-18 05:41] danger89 opened #392 "Upgrade to image 0.14"
Upgrade your examples so it works again with **Image** crate v0.14.0.

[2017-06-20 14:05] bvssvni commented on #392
Closed by https://github.com/PistonDevelopers/piston-examples/pull/393

[2017-06-20 14:05] #392 closed

[2017-06-23 19:29] shnupta opened #394 "deform example not compiling"
Trying to use the deform example but it looks like the `GenericEvent` trait isn't implemented by `piston_window::Event` ??

Error:
[code]

[2017-06-23 20:02] bvssvni commented on #394
Make sure you got the versions right. Check Cargo.toml for duplicate versions of pistoncore-input.

[2017-06-23 20:32] shnupta commented on #394
Thanks, all working now.

[2017-06-23 20:32] #394 closed

[2017-07-15 15:35] johnthagen opened #395 "Build examples in src/ folder in CI"
It would be good to build the examples in the `src` directory with CI to make sure they stay in sync with the latest changes in Piston.

I believe an easy way to do this would be to move them into an `examples/` directory and build with `--example`: http://doc.crates.io/guide.html#project-layout

[2017-07-16 16:42] bvssvni commented on #395
I thought they were built with Travis CI?

[2017-07-16 16:53] johnthagen commented on #395
Upon closer inspection of the build log, I was mistaken. They are built with Travis. Sorry for the false alarm.

[2017-07-16 16:53] #395 closed

[2017-09-21 18:47] TatriX opened #398 "Tiled example"
I did a [simple example](https://github.com/TatriX/rs-tiled-piston-example) which shows how to render a simple map from the [tiled](http://www.mapeditor.org/) editor.

I hope it may be useful as a "real world" example.

Also I would appreciate a comment on the `piston` usage.

[2017-09-21 19:13] bvssvni commented on #398
Perhaps you want to use `Image::src_rect` instead of changing the scissors?

[2017-09-21 19:34] TatriX commented on #398
Oh, I think I get it. I'll update the code.

[2017-09-21 19:45] TatriX commented on #398
Much better now, thanks!

[2017-09-21 20:01] bvssvni commented on #398
Do you want to make a PR?

[2017-09-21 20:26] TatriX commented on #398
Can we add it as a submodule or I should do a copy of it to the repo?

[2017-09-21 20:31] bvssvni commented on #398
A copy would be nice!

[2017-09-21 20:36] TatriX commented on #398
Done: #399

[2017-09-21 20:36] #398 closed

[2017-09-26 10:16] PengBain commented on #391
help， where the path of sdl2  be replaced

[2017-09-26 16:47] zeta0134 opened #401 "Panic on Linux (Arch) when attempting to use multiple windows"
When attempting to run multi_window, or any derivative code that attempts to create more than one window, the following panic occurs:

[code]

Weirdly, the example does "run" very briefly, and all the windows all show up onscreen for a moment. It seems like the actual window creation is succeeding, and the program dies somewhere in the event loop. I've tried switching the OpenGL context to no avai

[2017-10-12 18:06] clemarescx commented on #391
I had the same problem and fixed it by following and adapting the instructions on [the README.md](https://docs.rs/crate/sdl2/0.22.0/source/README.md) of the SDL2 bindings crate:

http://www.libsdl.org/ (SDL2-devel-2.0.x-mingw.tar.gz).

Since I use the **x86_64-pc-windows-msvc** toolchain, i downloaded SDL2-devel-2.0.*-VC.zip instead.

to:

   C:\Program Files\Rust\\**lib**\rustlib\x86_64-pc-window

[2017-11-06 15:59] aeosynth opened #405 "examples without sdl"
`cargo build` gives me an error:

[code]

can we run the examples without using sdl, only using glutin?

[2017-11-08 12:37] aeosynth opened #406 "jpg image shows after delay"
I modified the image example to show a 200K jpg, and running it shows first a black window for a second, and then the image on a white background. in GTK we could render the app completely before showing it, is this possible with piston?

[2017-11-08 13:50] bvssvni commented on #406
Looking at the source code for the event loop, it seems Piston tries to render first, so this should display the image. I don't know why it shows a black window.

Have you tried swapping the window backend? The default window backend for piston_window is Glutin. You can do this:

[code]

[2017-11-19 10:07] LiamMartens commented on #321
Happen to stumble upon this long lost open issue here; I experienced the same issue with Glutin and was able to fix it by installing some sdl packages ( `libsdl2-2.0.0`) also when running headless don't forget to start your screen (e.g `Xvfb`)

[2017-11-30 21:13] spiveeworks commented on #336
weird that the default behaviour of the "convenience wrapper" is to crash when forced settings can't be applied, but thanks for the solution/workaround!

[2017-12-02 23:30] euclio opened #408 "Multi-window crashes in debug mode"
OS: MacOS 10.12

Perhaps related to #401, but a different error. Running the multi_window example in debug mode crashes after the windows are displayed briefly. Release mode works as expected.

[code]

[2018-02-17 14:31] dhardy commented on #401
Same (but Fedora Linux, KDE/X11, radeon). I'm guessing this is the source panic:
[code]
which [is a panic](https://github.com/tomaka/winit/blob/master/src/platform/linux/x11/mod.rs#L971):
[code]

[2018-03-12 01:41] malikolivier commented on #401
The same occurs on Ubuntu 17.10 (running X11 on i3).

This appears to be a `winit` bug. There is an issue for it: https://github.com/tomaka/winit/issues/347

[2018-04-23 02:47] francesca64 commented on #401
@dhardy note that you were running winit 0.10.0, at which point in history, this was line 971: https://github.com/tomaka/winit/blob/198d9ff230d8fb8de0d5103d9fa40cee1f55c368/src/platform/linux/x11/mod.rs#L971 (I suspect it was actually the `XCloseIM` line, though)

Anyway, could you try here: https://github.com/francesca64/piston-examples

[2018-05-23 11:37] jw3126 opened #415 "Couldn\'t find any pixel format that matches the criterias"
If I try `cargo run --bin hello_world` I get:
[code]

[2018-05-24 10:52] da-x commented on #415
Could be dup of https://github.com/PistonDevelopers/conrod/issues/757

[2018-05-24 11:21] jw3126 commented on #415
Thanks, thats indeed likely, it was on an ubuntu 16.04. I close the issue for now, if it turns out to be another problem, I will reopen!

[2018-05-24 11:21] #415 closed

[2018-05-25 19:40] jw3126 commented on #415
Upgrading Ubuntu 16.04 to Ubuntu 18.04 indeed fixed the issue for me.

[2018-07-09 09:03] milesand opened #418 "Closing window with mouse causes panic"
On Linux Mint 18.3 Cinnamon 64-bit, using rustc 1.27.0 and cargo 1.27.0.

Cloning the repository and running `cargo run --bin (binary name)`, then closing the resulting window with mouse by clicking x results in the following panic:
[code]

Running with `RUST_BACKTRACE=1` results in the following stack backtrace:
[code]

[2018-07-22 16:25] sithys opened #419 "[Request] Rectangle Shaders"
From reading through the examples and some of the library code, I cannot find a way to render a rectangle in 2D with a shader applied. Rectangles only seem to be able to render with solid colors. Would it be possible to get a minimal example of rendering a simple rectangle with a shader applied? Thanks!

[2018-07-23 20:47] htrob opened #420 "Getting-started example won't build, failed dependency: x11-dl"
Getting-started example won't build, failed dependency: x11-dl

Output of cargo build follows:

[code]

[2018-08-11 19:41] megapctr commented on #310
The user_input example doesn't see my xbox360 controller input at all. What can I do?

[2018-08-28 18:43] jcbritobr commented on #418
Same happens in ubuntu 18.04 in my tests.

[2018-08-28 18:53] jcbritobr commented on #418
Happens to me in mint 19 tara, also.

[2018-09-01 19:39] DefecateRainbows commented on #310
Exact same situation as @megapctr... is it because glutin doesn't suppoort gamepad input? Would an SDL2 backend work?

[2018-09-01 20:17] DefecateRainbows commented on #310
https://github.com/Arvamer/gilrs

This lib works quite well for me, do keep in mind however that it doesn't have Mac support.

[2018-09-15 05:28] mandx commented on #418
Same here:
- Ubuntu 18.04
- Gnome 3 on X11
- Default window backend (which I assume is Glutin).

It could be something specific to the window backend, because if I use the SDL backend like:
[code]
Then I can't reproduce it anymore, closing with click and `Esc` works as expected.

[2019-02-18 04:05] KenSuenobu commented on #316
Closed?!  This is still a problem, @adjivas.

[2019-04-28 03:39] Jason5Lee opened #428 "Examples crash on Windows 7 running in Parallel Desktop."
The examples work on my Mac and my PC. but when I test them on Windows 7 running in Parallel Desktop, only `multi_window` works, others crash with the following message.

[code]

The backtrace message of `hello_world` is

[code]
Toolchain: stable-x86_64-pc-windows-msvc
Compiling option: release

[2019-05-17 01:08] phansel opened #429 "multi_window.rs always segfaults"
All other examples work fine. The issue is resolved when the iterator's 0..3 is changed to 0..1, so it's either a problem with the gfx library (seems likely) or an OS issue. The gfx-rs library has been deprecated anyway: https://github.com/gfx-rs/gfx

rustc: 1.34.2 stable-x86_64-unknown-linux-gnu

Linux 4.4.0-145-generic #174-Ubuntu

[2019-06-05 02:06] Jason5Lee commented on #428
It appears that it is because Parallel Desktop only supports core profile. It can be solved by specified OpenGL version to 2.1.

[2019-06-05 02:06] #428 closed

[2019-08-18 17:41] bendeg opened #446 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: DescriptorInit(PixelExport("Target0", None))', src/libcore/result.rs:999:5"
1) Tried hello_world first but my opengl version is 2.1 (well, I think, see glxinfo below)
  => so, I changed it and it looks like that version works.

2) tried hello_world/image/cube : same error is thrown

<pre>$ cargo run --bin image
<font color="#55FF55"><b>   Compiling</b></font> piston-examples v0.0.0 (/home/ben/Documents/IT/rust/piston-examples)
<font color="#55FF55"><b>    Finished</b></fo

[2019-10-11 19:52] cgbeutler opened #448 "Image sample triggers Windows Security"
Running the example "image.exe" triggers a Windows Security issue
![image](https://user-images.githubusercontent.com/9751923/66680139-0ac6e080-ec2d-11e9-9457-1d166907ac0b.png)
I am guessing this is being triggered by a library or something. Wanted to start a paper trail for posterity. Not sure if this maybe needs a mini investigation to see if this needs to be passed on to piston core or something

[2019-10-11 20:03] bvssvni commented on #448
You are the first one that reports a windows security trigger of this kind. There is no unsafe code in the Piston core, so the problem is not there.

[2019-10-11 20:54] cgbeutler commented on #448
Bleh, I have poked at that thing for over an hour now. Windows Defender is so confusing and crappy. I really can't figure out what's happening with it. To make it even more confusing, image.exe seems to do a subset of what the others samples do, but they don't trigger anything. I'll dig again a little later.

[2019-10-11 21:20] bvssvni commented on #448
Perhaps there is something wrong with the image library. You can open up an issue here: https://github.com/image-rs/image

[2019-10-12 15:27] cgbeutler commented on #448
That's also used by several other samples. My first thought was that find_folder may be using an unsafe credential checker, but most other samples that use an image also use find_folder. Ill try messing more with it. Hopefully I can figure it out.

[2019-11-07 06:46] uhuntu commented on #429
https://github.com/rust-windowing/winit.git

tag v0.19.1

[code]

[2019-11-23 08:59] phantomxe opened #450 "Polygon testing"
Hello, i'm trying to test polygon function and i got some problems with that. Firstly my base code is like,

[code]

But output is something fails,
![output2](https://user-images.githubusercontent.com/22988043/69476220-476b2780-0de8-11ea-891d-002a26cb37ca.png)

[2019-12-03 23:02] willowell opened #451 "Please update the dependencies for the tiled example"
OS: macOS 10.15.1
rustc: 1.38.0

The tiled example fails to build through cargo because the cocoa v0.9.2 dependency fails to compile, producing this error:
`error[E0282]: type annotations needed
   --> /Users/$(name)/.cargo/registry/src/github.com-1ecc6299db9ec823/cocoa-0.9.2/src/appkit.rs:479:9
    |
479 |         msg_send![self, releaseGlobally];
    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2019-12-04 15:23] bvssvni commented on #451
`|c, g, _|` should work.

[2019-12-06 17:17] #451 closed

[2020-07-28 20:19] squint2 commented on #429
CAN ANYBODY PLEASE FIX THIS??

[2020-07-31 06:50] bvssvni commented on #408
I get the same error on OSX 10.11.6.

[2020-11-23 23:43] python50 opened #464 "Hello World (and all other examples) crash on Windows 10 x64 with Rust stable 1.48.0 - thread 'main' panicked at 'attempted to zero-initialize type ..."
I am running Rust Stable 1.48 on the x64 version of Windows 10.

[code]

After building the examples trying to run hello_world results in the following crash.

[code]

It is unclear to me if the root cause of this issue is within `glutin_window` or `piston_window`. It may be possible that piston is misusing glutin.

Is there any additional information that I can provide to aid in reproduction of t

[2020-11-24 00:14] python50 commented on #464
Edit: I found a related issue in the glutin_window repository [https://github.com/PistonDevelopers/glutin_window/issues/187](https://github.com/PistonDevelopers/glutin_window/issues/187)

At the moment, it seems pretty likely that the real problem is with something in `glutin_window` rather than "user error" - but time will tell .

[2020-11-27 08:22] bvssvni commented on #464
This should be fixed now with a `cargo update`.

[2020-11-27 08:22] #464 closed

[2020-12-26 22:05] joshua-barnett opened #465 "tiled example runtime error"
[code]

[2021-01-01 11:49] Mispon commented on #391
In my case I copied all libs files to:
`C:\Users\Username\.rustup\toolchains\stable-x86_64-pc-windows-msvc\lib\rustlib\x86_64-pc-windows-msvc\lib\`
and SDL2.dll right next to my Cargo.toml

It's work fine! Huge thx to @clemarescx

[2021-01-05 16:06] Kreyren opened #468 "Examples are crashing when cursor touches the window"
[code]

## Steps to reproduce
1. Run the `cube` example
2. Touch the pison window with a cursor and expect the piston to unwantedly crash

[2021-03-02 08:10] VZerda commented on #465
same issue
I just change dependencies in
piston-examples/examples/tiled/Cargo.toml

modify piston_window = "0.117.0"
and remove "piston" dependency

then it worked

[2021-03-30 20:54] writeoncereadmany commented on #450
This looks like it's displaying correctly to me, once you realise how polygons are drawn - it's a collection of triangles. In this case, a triangle fan.

First, it'll draw a triangle using the first, second and third points, then the first, third, and fourth, then the first, fourth and fifth etc.

That'll render any convex polygon correctly, and (accidentally) some concave polygons correctly - but

[2021-04-23 13:15] GDelevoye opened #473 "tiled panics on resizing"
Hello :)

I just ran rs-tiled-piston ang got this when I attempted to resize the window:

[code]

[2021-06-21 21:00] Epacnoss opened #474 "SVG Images not supported"

[2021-08-05 18:11] #450 closed

[2021-08-12 16:34] haihala opened #476 "Rust analyzer complains about gfx_pipeline! in the cube example."
[code]

I get five of those, one for each row. I've tried to study the macro but can't see what's wrong with it.

Rust analyzer has nothing to say about the file where the macro is defined.

[2021-09-04 20:59] bvssvni commented on #476
Check Cargo.lock to see if Cargo attempts to link multiple versions. The macro might have broken across versions and a `cargo update` might fix it.

[2021-09-17 16:13] #465 closed

[2021-12-10 17:11] manuliner commented on #391
On Win 10 i run in this issue. reading docs of rust sdl helped

https://github.com/Rust-SDL2/rust-sdl2#windows-msvc

[2022-01-15 22:21] #448 closed

[2022-04-03 11:10] RustUser opened #482 "Issues with 'with_gl' function."
Hello all,

I followed the cube example found in the examples folder in this project. I found the Device::with_gl closure within the piston window structure, and am not seeing it being utilized. Maybe I'm doing it incorrectly?

Here is a snippet of my code.
![image](https://user-images.githubusercontent.com/24580472/161424950-c41337a0-bc29-45e6-a623-bc9484374667.png)

I would appreciate any suppor

[2022-10-06 21:58] christian-oudard opened #484 "Hello World example crashes"
[code]